@import url("styles/variables.css");
@import url("styles/globals.css");
@import url("styles/fonts.css");

@import url("styles/blocks/button.css");
@import url("styles/blocks/coin.css");
@import url("styles/blocks/footer.css");
@import url("styles/blocks/main.css");