.button {
  border: none;
  outline: none;
  cursor: pointer;
}


.button--random {
  padding: 15px 40px;

  font-weight: 600;
  font-size: 1.25rem;
  text-transform: uppercase;

  color: var(--color-white);
  background-color: var(--color-blue);

  border-radius: 10px;
  box-shadow: 0px 4px 0px 0px #23649b;

  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}